.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}

.hex:over {
    filter: blur(1px);
    cursor: pointer;
}

.hex .top {
    width: 0;
    border-bottom: 30px solid #b68d53;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex .middle {
    width: 104px;
    height: 60px;
    background: #b68d53;
}

.hex .bottom {
    width: 0;
    border-top: 30px solid #b68d53;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex-row {
    clear: left;
}

.hex-row.even {
    margin-left: 53px;
}

.hex-selected {
    filter: invert(1);
}


