<br>
<h1 class="text-center font-weight-bold text-warning">Civilizations</h1>
<div class="row container-fluid">
    <div class="col-7">
        <div class="hex-row">
            <div class="hex" *ngFor="let item of civilizations.slice(0,6)" (click)="selectCivilization(item)"
                [ngClass]="{'hex-selected': item.id == civilizationSelect.id}">
                <div class="top"></div>
                <div class="middle">{{item.name}}</div>
                <div class="bottom"></div>
            </div>
        </div>
        <div class="even hex-row">
            <div class="hex" *ngFor="let item of civilizations.slice(7,12)" (click)="selectCivilization(item)"
                [ngClass]="{'hex-selected': item.id == civilizationSelect.id}">
                <div class="top"></div>
                <div class="middle">{{item.name}}</div>
                <div class="bottom"></div>
            </div>
        </div>
        <div class="hex-row">
            <div class="hex" *ngFor="let item of civilizations.slice(13,18)" (click)="selectCivilization(item)"
                [ngClass]="{'hex-selected': item.id == civilizationSelect.id}">
                <div class="top"></div>
                <div class="middle">{{item.name}}</div>
                <div class="bottom"></div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <h4>{{civilizationSelect.name}}</h4>
            <br>
            <span class="font-weight-bold">{{civilizationSelect.expansion}}</span>
            <br>
            <span>{{civilizationSelect.army_type}}</span>
        </div>
    </div>
    <div class="col-5 frame-image">
        <img src="{{'assets/img/civilizations/'+civilizationSelect.name+'.png'}}">
    </div>
</div>
<br>